/*! jQuery UI - v1.9.2 - 2013-05-08
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Tahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.0em&cornerRadius=4px&bgColorHeader=%23c0c0c0&bgTextureHeader=flat&bgImgOpacityHeader=35&borderColorHeader=%23ffffff&fcHeader=%23000000&iconColorHeader=%23ffffff&bgColorContent=%23eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=%23dddddd&fcContent=%23000000&iconColorContent=%23000000&bgColorDefault=%23f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=%23cccccc&fcDefault=%23000000&iconColorDefault=%23000000&bgColorHover=%23ffffff&bgTextureHover=flat&bgImgOpacityHover=100&borderColorHover=%238b0000&fcHover=%23000000&iconColorHover=%23000000&bgColorActive=%2387ceeb&bgTextureActive=flat&bgImgOpacityActive=65&borderColorActive=%23ffffff&fcActive=%23000000&iconColorActive=%23000000&bgColorHighlight=%23ffffff&bgTextureHighlight=flat&bgImgOpacityHighlight=75&borderColorHighlight=%23000080&fcHighlight=%23363636&iconColorHighlight=%23228ef1&bgColorError=%23b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=%23cd0a0a&fcError=%23ffffff&iconColorError=%23ffffff&bgColorOverlay=%23666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=%23000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {cursor: pointer; position:absolute; top: 2px; width: 2.5em; height: 2.5em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 2.5em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; /*border: 1px solid #f2f2f2; */ }
.ui-datepicker td { border: 1px solid #f2f2f2; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: 5px; text-align: center; text-decoration: none; font-size: 14px;}
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position:-65px -16px;
}

/* Component containers
----------------------------------*/
.ui-widget { font-family: Tahoma,Verdana,Arial,sans-serif; font-size: 1.0em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Tahoma,Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #B1B1B1; background: #fff; /* url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; */ color: #000000; }
.ui-widget-content a { color: #000000; }
.ui-widget-header { border: 1px solid #ffffff; background: #ED8703; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #000000; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border-bottom: 1px solid #ED8703; /*background: #ED8703;*/ color: #000; }
.ui-datepicker-current-day a { /*border-bottom: 1px solid #ED8703;*/background: #ED8703 !important; color: #fff !important;}
@media all and (max-width: 767px) {
  #ui-datepicker-div {padding: 10px;}
}
/*.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }*/
/*.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }*/
/*.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }*/
/*.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }*/
/*.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }*/
/*.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }*/
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../images/calendar_icon.png); }

.ui-icon-circle-triangle-e { background-position: top right;
    background-size: cover;
    opacity: 0.8;}

/*.ui-icon-circle-triangle-s { background-position: -64px -192px; }*/

.ui-icon-circle-triangle-w {
	background-position: top left;
    background-size: cover;
    opacity: 0.7;
    }

/* Datepicker */
.ui-datepicker {
    font-size: 100%;
    width: auto;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.28);
}
.ui-datepicker-trigger {
/*  margin-left:2px;
  margin-top: 8px;*/
  vertical-align: middle;
  cursor: pointer;
}
.sunday .ui-state-default {
  color: red;
}
.saturday .ui-state-default {
  color: blue;
}
.date-holiday .ui-state-default {
  color: red;
}

.ui-datepicker:after, .ui-datepicker:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ui-datepicker:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #B1B1B1;
  border-width: 0px;
  margin-left: -30px;
}
.ui-datepicker:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #B1B1B1;
  border-width: 10px;
  margin-left: -110px;
}
@media screen and (max-width: 549px){
    #ui-datepicker-div {
        width: 80%;
        left: 10% !important;
        right: 10% !important;
        border-top: none;
    }

    .ui-datepicker:before,
    .ui-datepicker:after {
        display: none;
    }
}

.ui-state-default.ui-state-hover {
    background: #e4e4e4;
}
